<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8" />
    <title th:text="${title}">Home</title>
</head>
<body>
    <h1 th:text="${title}">Title</h1>
    <h2 th:if="${allExpenses.size()}">All Expenses</h2>
    <th:block th:each="expense : ${allExpenses}">
        <div>
            <p th:text="${expense.transactionDate}" />
            <p th:text="${expense.payee}" />
            <p th:text="${expense.amount}" />
            <p th:text="${expense.category}" />
        </div>
    </th:block>
</body>
</html>